.menu-container{
  background-image: url(/assets/pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  padding: 5em 0em;
  box-shadow: 0px 0px 10px 0px rgba(183, 182, 182, 0.75);
}

.bottom-menu-container{
  margin-top: 7em;
  margin-bottom: 5em;
}

#menu-img {
    height: 100%;
    box-shadow: #e6d2cf 0px 0px 10px;
  }

@media (max-width: 991px) {
  .menu-container {
    flex-direction: column;
  }
  .menu-container > img {
    width: 80%;
    align-self: center
  }
  .menu-container > hr {
    display:block
  }

  #menu-img {
    margin-bottom: 2em;
  }
}
