.us-container > div > h2 {
  font-variation-settings: "wght" 700;
  font-size: 2rem;
  color: #3d3d3d;
  margin-bottom: 6rem;
}
.textAb {
  padding: 0rem 7rem;
  font-variation-settings: "wght" 400;
  font-style: italic;
  color: #3d3d3d;
  /* font-size: 100%; */
  text-align: center;
  font-size: 1em;
}

.us-container {
  padding: 2rem 2rem;
  background-color: #fbf7f7;
  box-shadow: 0px 0px 10px 0px rgba(183, 182, 182, 0.75);
}

.container-p {
  border-radius: 10px;
  padding: 1px;
  margin-bottom: 15px;
}

#aboutUsCarousel {
  max-width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.carousel-item {
  border-radius: 2%;
}

.containerAbout img {
  border-radius: 2%;
}

.carousel-innerAbout {
  overflow: hidden;
}

.us-container .carousel-control-next,
.us-container .carousel-control-prev {
  height: 50px;
  width: 50px;
  opacity: 1;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.us-container .carousel-control-next:hover,
.us-container .carousel-control-prev:hover {
  box-shadow: 0 0 10px #f4d9d3;
}

.us-container .carousel-control-next {
  right: 5%;
  display: flex;
  justify-content: space-around;
}

.us-container .carousel-control-prev {
  left: 5%;
}
