/* .flags {
  width: 75px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: block;
  cursor: pointer;
}
.flags_item {
  width: 5px;
}

.flags_img {
  width: 30px;
  height: 30px;
} */
