#photo-grid {
  background-color: white;
  padding: 5rem;
  border-radius: 10px;
  display: block;
}

#photo-grid p {
  font-variation-settings: "wght" 300;
  font-style: italic;
  font-size: 0.9rem;
}

#photo-grid h5 {
  font-size: 1rem;

}

@media (max-width: 991px) {
  #photo-grid {
    display: none;
  }
}
