.contact-container{
    background-image: url(/assets/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    padding: 5em 10em;
    box-shadow: 0px 0px 10px 0px rgba(183, 182, 182, 0.75);
}

.contact-title {
    font-weight: 600;
    font-size: 2rem;
}
.main-container{
    margin-top: 8rem;
}

.whatsapp-icon, .phone-icon, .mail-icon{
    color: #b53a20;
    font-size: 4rem;
    text-align: center;
}

.whatsapp-icon:hover, .phone-icon:hover, .mail-icon:hover{
    font-size: 5rem;
    height: 110px;
    width: 110px;
}

h3 {
    color:#b53a20;
    text-align: center;
}

p{
    font-weight: 400;
    margin-top: 1rem;
    text-align: center;
}

.divisor-line{
    border: rgb(2, 88, 2) 1px solid;
    background-color: #fbf6f5;
    margin-top: 0;
  }

.contact-confirmation{
    margin-top: 7rem;
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;
}

@media (max-width: 991px) {
    .main-container{
        flex-direction: column;
        margin-top: 2rem
    }
}