nav {
    background-color: #fbf7f7;
    opacity: 95%;
    box-shadow: #989999 0px 0px 10px;
    position: sticky;
    top: 0;
  }
  
  .nav-item {
    color: #3d3d3d;
    text-decoration: none;
    margin-right: 2em;
    font-weight: 600;
  }
  
  #nav-items.active {
    background: #fbf7f7 !important;
    color: #b53a20 !important;
    font-weight: 600;
  }
  
  .nav-links {
    color: black;
  }

  .phone {
    font-size: 1em;
  }

  .contact-button-mobile {
    display: none;
  }
  
  .dropdown-menu {
    background-color:#fbf7f7;
    min-width: 4rem;
  }

  .dropdown-menu li {
    width: 4em;
  }
  
  li {
    list-style: none;
  }

  .dropdown-item {
    text-align: center;
  }

  .dropdown-item:hover{
    background-color: #b53a20;
    color: #fbf7f7
  }

  .dropdown-item::selection{
    background-color: #b53a20;
    color: #fbf7f7
  }

  @media (max-width:991px) {
    .navbar-nav {
      align-items: center;
      margin-top: 1em;
    }
    
    .nav-item{
      border: #b53a20 0.5px solid;
      margin-top: 0.2em;
      width: 80%;
      align-self: center;
      text-align: center;
      border-radius: 0.5em;
    }  

    #nav-items.active{
      background: #b53a20 !important;
      color: #fbf7f7 !important;
    }

    .nav-item:hover{
      background-color: #b53a20;
    }

    .contact-button{
      display: none;
    }

    .contact-button-mobile {
      display: block;
    }

    .dropdown-item {
      text-align: center;
    }

    .dropdown-menu li {
      width: 100%;
    }
  }