.side-bar-container {
    position: fixed;
    bottom: 0;
    right: 0;
    /* background-color: #3d3d3d; */
    opacity: 95%;
    margin-bottom: 3em;
    box-shadow: #989999 0px 0px 10px;
    border-radius: 1em;
    padding: 0.2em;
}

.side-bar-container > a > i {
    font-size: 1.2em;
}

.side-bar-container > a {
    margin-bottom: 0.5em;
}

.side-bar-container > a > .bi-whatsapp:hover {
    color: #64da82
}


