.testimonials {
  /* background-image: url("/assets/contact/pattern.png"); */
  background-color: rgb(251, 250, 250);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  padding: 1em 0em;
}

.review-title {
    font-variation-settings: "wght" 600;
}

@media (max-width: 991px) {
  .comment {
    margin-bottom: 3em;
  }
}