.testimonials {
  /* background-image: url("/assets/contact/2.png"); */
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  padding: 2rem 4rem;
  box-shadow: 0px 0px 10px 0px rgba(183, 182, 182, 0.75);
  height: 100%;
}
.comment {
  box-shadow: #e6d2cfcc 5px 10px 10px 0px;
  padding: 2rem;
}

.message {
  padding: 1rem rem;
  font-variation-settings: "wght" 400;
  font-style: italic;
  color: #3d3d3d;
  text-align: center;
  font-size: 1em;
}

@media (max-width: 991px) {
  .comment {
    margin-bottom: 2rem;
    box-shadow: none;
  }

  #commentimg {
    max-width: 15%;
  }

  .message {
    padding: 0 3rem;
  }
}
