.testimonials {
  background-image: url("/assets/contact/pattern.png");
  background-color: #fbf7f7;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  padding: 3em 0em;
  box-shadow: 0px 0px 10px 0px rgba(183, 182, 182, 0.75);
}
.section {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  background-color: #b23c244f;
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: center;
}
.quote {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  background-color: #fff;
  border-radius: 50%;
  font-size: 1.4rem;
}

.container {
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 3.4rem;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
  align-items: inherit;
}

.heading-secondary {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
