.homeview-container {
  background-image: url(/assets/Homeview-background/Ottantotto_HVB2.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: top center;
  height: 95vh;
}

.homeview-text {
  color: #ffffff;
  font-size: 2.5em;
  font-variation-settings: "wght" 900;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

a#homeview-adress,
a#homeview-phone {
  text-decoration: none !important;
  color: #fff !important;
  font-variation-settings: "wght" 500;
  font-size: 1.5em;
}

a#homeview-adress:hover,
a#homeview-phone:hover {
  color: #f4d9d3 !important;
}

a.homeview-adress::selection,
a#homeview-phone::selection {
  color: #f4d9d3 !important;
}

i {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}
