.logo {
  width: 230px;
}

/* NAVBAR */

nav {
  background-color: #f4d9d3;
  opacity: 95%;
  box-shadow: #989999 0px 0px 10px;
}

#nav-items {
  color: #3d3d3d;
  text-decoration: none;
  margin-right: 1em;
  font-weight: 500;
}

#nav-items.active {
  background: #f4d9d3 !important;
  color: #b53a20 !important;
  font-weight: 500;
}

.navbar-nav {
  align-items: center;
}

.nav-links {
  color: black;
}

/* MAIN CONTAINER  */

.divisor-line{
  border: rgb(2, 88, 2) 2px solid;
  margin: 5rem
}

/* MENU */

#menu-img {
  height: 100%;
}

/* HOME VIEW */

.homeview-container{
  background-image: url(/tomates.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: start;
  height: 100vh;
}

.homeview-text{
  color: #3d3d3d;
  font-weight: bolder;
  font-size: 2.5em;
}

a#homeview-adress, a#homeview-phone {
  text-decoration: none !important;
  color: #3d3d3d !important;
  font-weight: 700;
  font-size: 1em;
}

a#homeview-adress:hover, a#homeview-phone:hover {
  color: #f4d9d3 !important;
}

a.homeview-adress::selection, a#homeview-phone::selection {
  color: #f4d9d3 !important;
}

/* FOOTER */


@media (max-width: 991px) {
  #responsive-navbar-nav{
  text-align: center;
  margin-top: 30px;
} 
  #nav-items{
  width: 100%;
  border:#989999 1px solid;
  padding: 10px;
  border-radius: 5px;
  }  

  #nav-items.active{
  box-shadow: 5px solid #b53a20;
  }
}